body {
    background-image: url('gumul3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: black;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Warna putih dengan transparansi 80% */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: black;
}

.login-container img {
    max-width: 100px;
    margin-bottom: 1rem;
}

.login-container h2 {
    margin-bottom: 1.5rem;
    color: black;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
    background-color: rgba(0, 0, 0, 0.1);
}

.input-group-text {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    color: black;
    border-radius: 25px 0 0 25px;
}

.btn-custom {
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.btn-custom:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    /* text-align: center; */
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}